{% extends "base.html" %}

{% block header %}
<ul class="nav nav-pills">
  <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Accueil</a></li>
  <li class="nav-item"><a href="{% url 'projects-list' %}" class="nav-link active" aria-current="page">Projets</a></li>
  <li class="nav-item"><a href="{% url 'routes-list' %}" class="nav-link">Trajets</a></li>
    <li class="nav-item"><a href="{% url 'tracks-list' %}" class="nav-link">Voies</a></li>
</ul>
{% endblock header %}

{% block main %}
<div class="container-lg">
<h1 class="title">Liste des Projets</h1>
<div class="row align-items-start">
  {% for project in object_list %}
    <div class="col-3">
      {% include "includes/project-card.html" with project=project %}
    </div>
  {% endfor %}
</div>
</div>
{% endblock main %}